/*heade**************/
.header{
  background-size: 200px;
  height: 100vh;
  overflow: hidden;
}
.header img{
  width: 110%;
  height: 100vh;
  object-fit: cover;
  animation: movimiento 12.5s infinite linear ;
}
@keyframes movimiento{
  0%{
   transform: translateX(0);
  }
  50%{
    transform: translateX(-30px);
  }
  100%{
    transform: translateX(0);
  }
}
/*////////////////////////*/
/**********menu*************/
.nav{
  text-align: center;
  margin-top: 40%;
  height: 200px;
  font-size: 20px;
}
.link{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  overflow: scroll;
  height: 133px;
  width: 45%;
  padding: 20px;
  margin-left: 30%;
  scroll-behavior: smooth;
  height: 110px;
  width: 40%;
  padding: 20px;
  margin-left: 33%;
}
.link::-webkit-scrollbar{
  -webkit-appearance:none ;
}
/*.link a{
=======
.link a{
  padding: 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: black;
  margin: 13px;
  border-radius: 50px;
  box-shadow: 0px 0px 8px #525252;
<<<<<<< HEAD
}*/
.button-1{
  background-color: rgb(2, 2, 2);
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 2px;
  cursor: pointer;
  border-radius: 50px;
  border: 2px solid #000000;
}

/*///////////////////////////*/
/*********footer*************/

/*//////////////////////////*