@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');/*nav*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');/*link*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}
.container {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header nav";
}

.header {
  grid-area: header;
  border: 1px solid #302f2f;
  box-shadow: 5px 0px 20px #525252;
}

.nav {
  grid-area: nav;
  font-family: 'Tapestry', cursive;/*fonts nav*/
  word-spacing: 1px;
}

