/*heade**************/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  transition: 0.7s;
  padding: 30px 20px;
  z-index: 10; /*sobre poner contenido el numero varia dependiendo de los position*/
}
/*script*/
header.abajo {
  background-color: rgba(0, 0, 0, 0);
  padding: 15px 20px;
}
header.abajo a {
  color: rgba(0, 0, 0, 0);
}
/*cambiar color de la letra*/
/*header.abajo .logo,
header.abajo ul li a{
  color: rgb(0, 0, 0);
}*/
/*/////////////*/
header .logo {
  position: relative;
  color: rgb(0, 0, 0);
  text-decoration: none;
  /*font-size: 2rem;*/
  letter-spacing: 2px;
  transition: 1.5s;
  font-weight: 600;
}

.nav-0 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  letter-spacing: 2px; /*da espacio entre las letras*/
  font-weight: 600; /*da el color de la letra a niegrita el numero es intencidad*/
  transition: 00.7s;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/pagare.jpg);
  background-size: cover; /*no repetir imagen*/
  background-position: center center; /*centar la imagen*/
}

/*////////////////////////*/
/**********menu*************/
.fijo {
  position: fixed;
  left: 30px;
  font-size: 1.5em;
}
.link {
  display: flex;
  flex-direction: column;
}
.link a {
  padding: 5px;
  text-decoration: none;
  color: #ffffff;
  transition: transform 0.6s;
}
.link a:hover {
  transform: scale(2);
  text-decoration-line: underline;
}
/*//////////////////////////*/
/*////////asaide**************/
.sub-menu a:hover {
  transform: scale(1);
  text-decoration-line: underline;
}
.sub-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #000000;
  width: 100%;
  height: 100px;
  padding: 40px;
  z-index: 2;
}
.sub-menu a {
  text-decoration: none;
  color: #ffffff;
}
/*****************************/
/**********main************/

/********bbva********/
.bbva {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
  gap: 30px;
}
.bbva img {
  max-width: 500px;
}
.bbva-1 {
  padding: 10px;
  margin-top: 100px;
}
.bbva-1 li {
  margin-top: 20px;
}
.bbva-1 a {
  margin-top: 20px;
  text-decoration: none;
  font-style: oblique;
  color: #000;
  font-family: fantasy;
}
.table-2 table{
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
}
.table-2 {
    background-color: #fff;
    padding: 10px;
    width: 50%;
}
.table-2 th{
  text-align: center;
  color: #c40202;
}
.table-2 td{
    padding: 2px;
}

.tr-1{
  background-color: #000;
  color: #fff;
}

/***************/

#botones {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.context-1 h2 {
  text-shadow: 2px 2px #838383;
}
.context-2 {
  width: 80%;
  background-color: #ffffff;
  padding: 100px;
  overflow: hidden;
  margin: 20px auto;
  font-size: 1.5em;
  margin-top: 20%;
  box-shadow: 1px 1px 1em #000000;
}
.context-2-2 {
  width: 80%;
  background-color: #e7e1cf;
  padding: 100px;
  overflow: hidden;
  margin: 20px auto;
  font-size: 1.5em;
  margin-top: 20%;
  box-shadow: 1px 1px 1em #000000;
}
.context-2-2 a {
  text-decoration: none;
  color: rgb(82, 82, 82);
}
.button-2 {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  border-radius: 0px 60px;
  cursor: pointer;
  top: 0px;
  box-shadow: 0px 6px 10px #000;
  border: 1px solid #fff;
}
/*/////desplegar texto//*/
.button {
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
}
#uno {
  display: none;
  overflow: scroll;
  height: 150px;
  background-color: #ffffffb8;
  border: 1px solid #000;
  padding: 5px;
  text-align: center;
  overflow: auto;
}
#dos {
  display: none;
  overflow: scroll;
  height: 150px;
  background-color: #ffffffb8;
  border: 1px solid #000;
  padding: 5px;
  text-align: center;
  overflow: auto;
}
/*//////////////////////*/
.contenido-derecha-1 {
  display: flex;
  flex-direction: row-reverse;
  width: 60%;
  margin: 20px auto;
  /*background-color: rgba(80, 80, 80, 0.405);*/
  color: aliceblue;
  padding: 15px;
  position: relative;
  font-size: 1em;
  /* overflow: hidden;*/
  margin-top: 10%;
}
.contenido-derecha-1 img {
  float: right;
  margin-left: 15px;
  max-width: 30%;
  position: relative;
  z-index: 1;
  top: 15px;
}
.contenido-derecha-1 p {
  margin-top: 2%;
  text-transform: uppercase;
  text-align: right;
  position: relative;
  z-index: 1;
  color: #000;
  width: 60%;
  padding: 10px;
}
.contenido-derecha-1 .img_clak-1 {
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0px;
  left: 0;
  background-size: cover;
  box-shadow: 1px 1px 1em #000000;
}
.contenido-derecha-1:nth-of-type(1) .img_clak-1 {
  background-color: #e0e0e0b5;
}

/*///////////////////////////*/
/*********footer*************/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}
/*formulario*/
.formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  background-color: darkcyan;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
}

.shell {
  width: 100%;
}
.shell h1 {
  text-align: center;
}

.shell-1 {
  margin: 10px;
  left: 1px;
}

.shell-3 {
  margin: 10px;
}
.shell-4 {
  text-align: center;
  margin: 10px;
}
/*//////////////////////////*

/********boton*********/
.subir {
  display: none;
  padding: 6px;
  background: #000000;
  font-size: 10px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 70px;
  right: 5px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #505050;
  z-index: 1;
}
.subir svg {
  margin-top: 2px;
  border-radius: 50%;
}
/*********************/
.fixed {
  position: fixed;
  top: 0;
}
/*******ventana modal********/
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
.modalDialog > div {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  /* background: #fff;*/
  /* background: -moz-linear-gradient(rgb(218, 215, 215), #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);*/
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}
.close {
  background: #606061;
  color: #ffffff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.close:hover {
  background: #ff4800;
  border: 2px solid #e7e1cf;
}
/*----------------------------*/
/*informacion*/
.informacion a {
  text-decoration: none;
  color: #000;
}
/*//////////////*/
