/*heade**************/
.pie_pagina {
  padding-bottom: 100px;
  width: 100%;
  overflow: hidden;
  height: 500px;
  position: relative;
}
.pie_pagina img {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 500px;
  object-fit: cover;
}
.centrado {
  position: inherit;
  margin-top: 16%;
  padding-right: 15%;
  padding-left: 15%;
  text-align: center;
}
.centrado h1 {
  font-size: 80px;
  letter-spacing: 5px;
  text-shadow: 3px 5px #000000;
  color: #ffffff;
}
/*////////////////////////*/
/**********menu*************/
.fijo {
  position: fixed;
  left: 30px;
  font-size: 1.5em;
}
.link {
  display: flex;
  flex-direction: column;
}
.link a {
  padding: 5px;
  text-decoration: none;
  color: #ffffff;
  transition: transform 0.6s;
}
.link a:hover {
  transform: scale(1);
  text-decoration-line: underline;
}
/*//////////////////////////*/
/*////////asaide**************/
.sub-menu a:hover {
  transform: scale(1);
  text-decoration-line: underline;
}
.sub-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #000000;
  width: 100%;
  height: 100px;
  padding: 40px;
  z-index: 2;
}
.sub-menu a {
  text-decoration: none;
  color: #ffffff;
}
/*****************************/
/**********main************/

.context-1 {
  width: 100%;
  background-color: #ffffff;
  padding: 100px;
  overflow: hidden;
  margin: 15px auto;
  font-size: 1.5em;
}
.context-1 h2 {
  text-shadow: 2px 2px #838383;
}
.context-2 {
  width: 80%;
  background-color: #ffffff;
  padding: 100px;
  overflow: hidden;
  margin: 20px auto;
  font-size: 1.5em;
  margin-top: 20%;
  box-shadow: 1px 1px 1em #000000;
}
.context-2-2 {
  width: 80%;
  background-color: #e7e1cf;
  padding: 100px;
  overflow: hidden;
  margin: 20px auto;
  font-size: 1.5em;
  margin-top: 20%;
  box-shadow: 1px 1px 1em #000000;
}
.context-2-2 a {
  text-decoration: none;
  color: rgb(82, 82, 82);
}
.button-2 {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  border-radius: 0px 60px;
  cursor: pointer;
  top: 0px;
  position: relative;
  left: 35rem;
  box-shadow: 0px 6px 10px #000;
  border: 1px solid #fff;
}
/*/////desplegar texto//*/
.button {
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
}
#uno {
  display: none;
  overflow: scroll;
  height: 150px;
  background-color: #fff;
  border: 1px solid #000;
  padding: 5px;
}
#dos {
  display: none;
  overflow: scroll;
  height: 150px;
  background-color: #fff;
  border: 1px solid #000;
  padding: 5px;
}
/*//////////////////////*/
.contenido-derecha-1 {
  display: flex;
  flex-direction: row-reverse;
  width: 60%;
  margin: 20px auto;
  /*background-color: rgba(80, 80, 80, 0.405);*/
  color: aliceblue;
  padding: 15px;
  position: relative;
  font-size: 1.5em;
  /* overflow: hidden;*/
  margin-top: 10%;
}
.contenido-derecha-1 img {
  float: right;
  margin-left: 15px;
  width: 30%;
  position: relative;
  z-index: 1;
  top: 15px;
}
.contenido-derecha-1 p {
  margin-top: 40%;
  text-transform: uppercase;
  text-align: right;
  position: relative;
  z-index: 1;
  color: #000;
}
.contenido-derecha-1 .img_clak-1 {
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0px;
  left: 0;
  background-size: cover;
  box-shadow: 1px 1px 1em #000000;
}
.contenido-derecha-1:nth-of-type(1) .img_clak-1 {
  background-color: #e0e0e0b5;
}

/*///////////////////////////*/
/*********footer*************/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}
/*formulario*/
.formulario{
  display: flex;
flex-direction: column;
flex-wrap: wrap;
gap: 10px;
background-color: darkcyan;
align-items: center;
border-radius: 10px;
padding: 20px;
}

.shell{
  width: 100%;
}
.shell h1{
  text-align: center;
}


.shell-1 {
  margin: 10px;
  left: 1px;
}

.shell-3 {
  margin: 10px;
}
.shell-4 {
  text-align: center;
  margin: 10px;
}
/*//////////////////////////*

/********boton*********/
.subir {
  display: none;
  padding: 6px;
  background: #000000;
  font-size: 10px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 70px;
  right: 5px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #505050;
  z-index: 1;
}
.subir svg {
  margin-top: 2px;
  border-radius: 50%;
}
/*********************/
.fixed {
  position: fixed;
  top: 0;
}
/*******ventana modal********/
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
 /* background: #fff;*/
 /* background: -moz-linear-gradient(rgb(218, 215, 215), #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);*/
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}
.close {
  background: #606061;
  color: #ffffff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.close:hover {
  background: #ff4800;
  border: 2px solid #e7e1cf;
}
/*----------------------------*/
