@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr; /*da medida alo ancho*/
    grid-template-areas:
      "header"
      "nav"
      "aside"
      "main"
      "footer";
  }
  header {
    grid-area: header;
    font-size: 10px;
    flex-direction: column;
    text-align: center;
    height: 200px;
  }
  nav {
    grid-area: nav;
    display: none;
  }
  aside {
    grid-area: aside;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }
  .fijo {
    position: relative;
  }
  .context-1 {
    padding: 20px;
    margin-top: 38px;
  }
  .grid-element {
    padding: 10px;
  }
  /*//////asaide////*/
  .sub-menu {
    padding: 8px;
    text-align: justify;
  }
 
  /*////////////////*/
  .centrado h1 {
    font-size: 30px;
    margin-top: 80%;
    text-align: inherit;
  }
  .context-1 {
    padding: 0px;
  }
  .grid-element {
    font-size: 15px;
    box-shadow: 0px 0px 10px rgb(3 3 3 / 76%);
  }

  .grid-element:hover {
    transform: scale(1.0);
    box-shadow: 0px 0px 0px rgba(3, 3, 3, 0.76);
    border: 3px solid rgb(2, 2, 2);
  }
  .context-1 h2 {
   text-align: center;
  }

  .contenido-derecha-1 {
    width: 100%;
    font-size: 8px;
    padding: 15px;
  }
  .contenido-derecha-1 img {
    width: 40%;
  }

  .context-2 {
    width: 100%;
    font-size: 12px;
    text-align: justify;
    padding: 30px;
  }
  footer {
    padding: 40px;
  }
  .formulario{
    padding: 1px;
  }

  /*publicidad*/
  .context-2-2 {
    width: 100%;
    font-size: 12px;
    padding: 50px;
  }

  .button-2 {
    position: sticky;
  }
  /*ventana modal*/
  .modalDialog > div {
    width: 60%;
    margin: 50px;
    padding: 0px;
  }
}
