@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr; /*da medida alo ancho*/
    grid-template-areas:
    "header"
    "nav"
    "aside"
    "main"
    "footer";
  }
  header {
    grid-area: header;
  }
  nav {
    grid-area: nav;
    display: none;
  }
  aside {
    grid-area: aside;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }
  .fijo{
    position: relative;
  }
  .context-1{
    padding: 20px;
  }
  .grid-element{
    padding: 10px;
  }
  .sub-menu{
    padding: 8px;
    text-align: justify;
  }
}
